<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2026 OpenSynergy Indonesia
     Copyright 2026 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
<menuitem
        id="menu_extracurricular_root"
        name="Extracurricular"
        web_icon="ssi_school_extracurricular,static/description/icon.png"
    />

<menuitem
        id="menu_extracurricular_report"
        name="Reporting"
        parent="menu_extracurricular_root"
        sequence="998"
    />

<menuitem
        id="menu_extracurricular_configuration"
        name="Configuration"
        parent="menu_extracurricular_root"
        sequence="999"
    />

</odoo>
